<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="../css/style.css" />
		<link rel="stylesheet" href="../script/libs/bootstrap-3.3.7-dist/css/bootstrap.min.css" />
	</head>

	<body>
		<div id="about_img" style="position:relative;">
			<img src="../images/loginad/lg01.png" width="100%" height="100%" />
			<div style="position:absolute;width:100px;height:100px;width:100%;z-indent:2;text-align:center;right:150px;bottom: 150px;">
       			 <p style="color: #FFFFFF;font-size: 130px;">你值得变得更好</p>
    		</div>
			
		</div>
		<!--彗星健身工作室-->
		<div class="container" style="height: 320px;padding: 20px;">
			<div class="row">
				<div class="col-xs-1 col-md-1">

				</div>
				<div class="col-xs-3 col-md-3">
		<img class="img-rounded" src="../images/loginad/ad01.jpg">
					
				</div>
				<div class="col-xs-1 col-md-1">

				</div>
				<div class="col-xs-6 col-md-6" style="text-align: right;">
					<h3><b>COMET</b></h3>
					<h4><b>/ 彗星健身工作室 /</b></h4>
					<p style="text-align: left;">
						我们拥有最时尚的训练场馆，拥有最先进的训练器械， 拥有最专业的教练团队， 最一流，最全面的跟踪式服务。选择我们会让您的人生彻底改变！来吧，让我们从这个夏天开始塑造一个 全新的自己！ 我们希望通过我们对生活的态度，对健身的理解和对健康身体的追求在前进的路上和你一起 变得更加积极向上。 让彗星成为一个您进来就能改变的地方，带给您时尚健康的生活方式。
					</p>
				</div>
			</div>
		</div>
		<!--特点-->
		<div class="container" style="height: 320px;padding: 20px;background: #EEEEEE;">
			<div class="row">
				<div class="col-xs-1 col-md-1">

				</div>
				<div class="col-xs-6 col-md-6" style="text-align: left;">
					<h3><b>COMET</b></h3>
					<h4><b>/ 我们的特点 /</b></h4>
					<p style="text-align: left;">
						彗星COMET工作室在位于荆州市沙市区北京路海联大厦13楼，致力打造荆州最专业的一对一私教服务，超高颜值的教练为你私人定制健身计划。300平方的会馆，具有荆州唯一拥有超大型360综合训练器。并配有力量训练区，以及配备美国海军陆战队TRX单独训练房。
					</p>
				</div>
				<div class="col-xs-1 col-md-1">
				</div>
				<div class="col-xs-3 col-md-3">
					<img class="img-rounded" src="../images/loginad/ad02.jpg">
				</div>

			</div>
		</div>
		<!--我是工作室-->
		<div class="container" style="height: 320px;padding: 20px;">
			<div class="row">
				<div class="col-xs-1 col-md-1">

				</div>
				<div class="col-xs-3 col-md-3">
					<img class="img-rounded" src="../images/loginad/ad03.jpg">
				</div>
				<div class="col-xs-1 col-md-1">

				</div>
				<div class="col-xs-6 col-md-6" style="text-align: right;">
					<h3><b>COMET</b></h3>
					<h4><b>/ 我是工作室 /</b></h4>
					<p style="text-align: left;">
						在我们这里足够让你的身体变的健康，协调，好看。并不需要像健身房那样有太多力量器械。<br/> ☆免费提供水果、茶水☆休闲区免费WIFI网络☆
						<br/> ☆温馨明亮的健身环境☆健康的身体和美丽双拥☆
						<br/>
					</p>
				</div>
			</div>
		</div>
		<!--多种选择训练的态度-->
		<div class="container" style="height: 320px;padding: 20px;background: #EEEEEE;">
			<div class="row">
				<div class="col-xs-1 col-md-1">

				</div>
				<div class="col-xs-6 col-md-6" style="text-align: left;">
					<h3><b>COMET</b></h3>
					<h4><b>/ 多种选择训练的态度 /</b></h4>
					<p style="text-align: left;">
						我们有单人一对一私教，当然我们也为情侣，闺蜜各种小伙伴准备了团体一对二私教课程。绿植环绕休息区与敞开式吧台，时尚潮流的场馆设计独树一帜，彻底颠覆传统健身房的沉闷气氛，带您领略全新的健身体系。我们主打专业减脂，增肌，塑形，康复理疗等私教项目。只要您有着改善自身健康，塑造身材的目标，那就来吧！
					</p>
				</div>
				<div class="col-xs-1 col-md-1">

				</div>
				<div class="col-xs-3 col-md-3">
					<img class="img-rounded" src="../images/loginad/ad04.jpg">
				</div>

			</div>
		</div>
		<footer style="background: #222222;height: 50px;"></footer>
		<script src="../script/libs/jquery/jquery-3.2.1.min.js"></script>
		<script src="../script/libs/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>

		<script>
			$(function() {
				document.getElementById("about_img").style.width = window.innerHeight;
			})
		</script>
	</body>

</html>